{% extends 'base.html' %}

{% block title %}Dashboard - Vendedor{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Panel del Vendedor</h1>
    <div class="alert alert-primary">
        <p>Bienvenido, {{ user.username }}</p>
    </div>
    <p class="lead">Gestión de inventario y ventas de confitería/snacks.</p>
</div>

<div class="row mt-4">

<div class="col-md-4">
<div class="card shadow-xl text-center p-4">

<h4 class="mb-3">🍿 Venta de Snacks</h4>

<p class="text-muted">
Registrar venta de crispetas, gaseosas y combos.
</p>

<a href="/productos/vender/" 
class="btn btn-lg w-100"
style="background: linear-gradient(45deg,#c77dff,#9d4edd); border:none; color:white;">

Ir a ventas


</a>

</div>
</div>

</div>
{% endblock %}